In [1]:
%ls datasets/

adult.csv                  census.csv     nhanes_2015_2016.csv
airline_data.csv           coches.csv     pokemon.csv
antropometria00.csv        cwurData.csv   reg_data.csv
antropometria-dataset.csv  data.csv       sample_pivot.csv
Book3.csv                  headbrain.csv  tips.csv
Canada.xlsx                mic2.xlsx      weight-height.csv
Cartwheeldata.csv          movies.csv

In [2]:
## Instalar pandas

In [3]:
pip install pandas

Requirement already satisfied: pandas in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import numpy as np

In [5]:
##Leer data set

In [6]:
df=pd.read_csv('datasets/antropometria-dataset.csv',
                 low_memory=False
                )
df.head(2)

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.4,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.1,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101

In [7]:
## pivot table sacando peso promedio

In [8]:
pd.pivot_table(df,
               index = 'desc_ent',
               values = 'peso',
               aggfunc = 'mean'
              )

                                      peso
desc_ent
AGUASCALIENTES                   66.357786
BAJA CALIFORNIA                  68.467270
BAJA CALIFORNIA SUR              71.809198
CAMPECHE                         65.418475
CHIAPAS                          57.613775
CHIHUAHUA                        66.656005
COAHUILA DE ZARAGOZA             68.154142
COLIMA                           68.743648
DISTRITO FEDERAL                 65.119273
DURANGO                          66.354922
GUANAJUATO                       63.936390
GUERRERO                         60.466315
HIDALGO                          59.995917
JALISCO                          66.697270
MEXICO                           60.680850
MICHOACAN DE OCAMPO              64.900000
MORELOS                          63.541295
NAYARIT                          66.541827
NUEVO LEON                       67.239853
OAXACA                           58.800067
PUEBLA                           60.102996
QUERETARO                        63.547342
QUINTANA ROO                     64.238904
SAN LUIS POTOSI                  60.576912
SINALOA                          68.051272
SONORA                           68.849473
TABASCO                          66.554701
TAMAULIPAS                       68.210911
TLAXCALA                         62.085398
VERACRUZ DE IGNACIO DE LA LLAVE  62.546117
YUCATAN                          62.706315
ZACATECAS                        64.238524

In [9]:
## 1. Cual es el promedio de peso en queretaro? 64.547342

In [10]:
## pivot table sacando mediana del peso

In [11]:
avBi = pd.pivot_table(df,
                      index = ['desc_ent', "sexo"],
                      values = ['peso'],
                      aggfunc = 'median',
                     )
avBi

                                         peso
desc_ent                        sexo
AGUASCALIENTES                  1     69.9500
                                2     63.7000
BAJA CALIFORNIA                 1     70.6500
                                2     64.2000
BAJA CALIFORNIA SUR             1     76.6500
...                                       ...
VERACRUZ DE IGNACIO DE LA LLAVE 2     59.4725
YUCATAN                         1     66.0000
                                2     59.5750
ZACATECAS                       1     65.3000
                                2     61.6250

[64 rows x 1 columns]

In [12]:
DATAmediana=avBi
DATAmediana

                                         peso
desc_ent                        sexo
AGUASCALIENTES                  1     69.9500
                                2     63.7000
BAJA CALIFORNIA                 1     70.6500
                                2     64.2000
BAJA CALIFORNIA SUR             1     76.6500
...                                       ...
VERACRUZ DE IGNACIO DE LA LLAVE 2     59.4725
YUCATAN                         1     66.0000
                                2     59.5750
ZACATECAS                       1     65.3000
                                2     61.6250

[64 rows x 1 columns]

In [13]:
pd.set_option('max_rows', None)
pd.set_option('max_columns', None)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

print(DATAmediana)

                                         peso
desc_ent                        sexo
AGUASCALIENTES                  1     69.9500
                                2     63.7000
BAJA CALIFORNIA                 1     70.6500
                                2     64.2000
BAJA CALIFORNIA SUR             1     76.6500
                                2     68.5500
CAMPECHE                        1     67.3500
                                2     62.3750
CHIAPAS                         1     59.2000
                                2     56.0250
CHIHUAHUA                       1     69.3000
                                2     64.6250
COAHUILA DE ZARAGOZA            1     68.3000
                                2     67.3000
COLIMA                          1     71.7000
                                2     66.0000
DISTRITO FEDERAL                1     69.0000
                                2     61.4500
DURANGO                         1     70.3500
                                2     62.5000
GUANAJUATO                      1     65.0625
                                2     60.3250
GUERRERO                        1     60.5000
                                2     57.2000
HIDALGO                         1     63.3000
                                2     57.9000
JALISCO                         1     65.5875
                                2     63.3500
MEXICO                          1     62.4500
                                2     56.9500
MICHOACAN DE OCAMPO             1     67.6250
                                2     63.4000
MORELOS                         1     65.2000
                                2     61.4500
NAYARIT                         1     69.0500
                                2     63.7000
NUEVO LEON                      1     69.4000
                                2     65.1000
OAXACA                          1     59.5500
                                2     56.8000
PUEBLA                          1     61.8750
                                2     59.5500
QUERETARO                       1     65.2750
                                2     59.4500
QUINTANA ROO                    1     65.9250
                                2     60.8500
SAN LUIS POTOSI                 1     62.2000
                                2     57.4500
SINALOA                         1     71.1000
                                2     64.3000
SONORA                          1     72.3000
                                2     66.6500
TABASCO                         1     69.7500
                                2     62.6000
TAMAULIPAS                      1     72.7500
                                2     63.3500
TLAXCALA                        1     64.2750
                                2     59.8750
VERACRUZ DE IGNACIO DE LA LLAVE 1     64.3000
                                2     59.4725
YUCATAN                         1     66.0000
                                2     59.5750
ZACATECAS                       1     65.3000
                                2     61.6250

In [14]:
## 2. Cual es la madiana de sexo 2 de Jalsico??   65.5875

In [15]:
avBimean = pd.pivot_table(df,
                      index = ['desc_ent', "sexo"],
                      values = ['peso'],
                      aggfunc = 'mean',
                     )
avBimean

                                           peso
desc_ent                        sexo
AGUASCALIENTES                  1     69.985381
                                2     63.254292
BAJA CALIFORNIA                 1     71.391818
                                2     65.893667
BAJA CALIFORNIA SUR             1     75.561015
                                2     68.168959
CAMPECHE                        1     68.622637
                                2     62.920493
CHIAPAS                         1     58.365222
                                2     57.096111
CHIHUAHUA                       1     68.892642
                                2     64.815295
COAHUILA DE ZARAGOZA            1     68.873094
                                2     67.467348
COLIMA                          1     70.998878
                                2     66.978393
DISTRITO FEDERAL                1     69.460661
                                2     61.654128
DURANGO                         1     68.846451
                                2     64.400031
GUANAJUATO                      1     65.008000
                                2     63.100995
GUERRERO                        1     62.611437
                                2     58.899850
HIDALGO                         1     61.747958
                                2     58.972554
JALISCO                         1     67.076482
                                2     66.418111
MEXICO                          1     63.140314
                                2     58.887882
MICHOACAN DE OCAMPO             1     66.374612
                                2     63.784311
MORELOS                         1     65.741943
                                2     62.195391
NAYARIT                         1     68.822143
                                2     64.890564
NUEVO LEON                      1     70.168106
                                2     64.823014
OAXACA                          1     60.810332
                                2     57.450557
PUEBLA                          1     61.866875
                                2     58.820175
QUERETARO                       1     66.751233
                                2     60.860793
QUINTANA ROO                    1     65.149528
                                2     63.538000
SAN LUIS POTOSI                 1     62.614907
                                2     58.979163
SINALOA                         1     71.122911
                                2     65.565234
SONORA                          1     70.880406
                                2     67.024857
TABASCO                         1     69.255801
                                2     64.190187
TAMAULIPAS                      1     72.060601
                                2     64.866851
TLAXCALA                        1     64.784437
                                2     60.201164
VERACRUZ DE IGNACIO DE LA LLAVE 1     65.324094
                                2     60.565646
YUCATAN                         1     65.717541
                                2     60.537515
ZACATECAS                       1     66.096483
                                2     62.757788

In [16]:
print (avBimean)

                                           peso
desc_ent                        sexo
AGUASCALIENTES                  1     69.985381
                                2     63.254292
BAJA CALIFORNIA                 1     71.391818
                                2     65.893667
BAJA CALIFORNIA SUR             1     75.561015
                                2     68.168959
CAMPECHE                        1     68.622637
                                2     62.920493
CHIAPAS                         1     58.365222
                                2     57.096111
CHIHUAHUA                       1     68.892642
                                2     64.815295
COAHUILA DE ZARAGOZA            1     68.873094
                                2     67.467348
COLIMA                          1     70.998878
                                2     66.978393
DISTRITO FEDERAL                1     69.460661
                                2     61.654128
DURANGO                         1     68.846451
                                2     64.400031
GUANAJUATO                      1     65.008000
                                2     63.100995
GUERRERO                        1     62.611437
                                2     58.899850
HIDALGO                         1     61.747958
                                2     58.972554
JALISCO                         1     67.076482
                                2     66.418111
MEXICO                          1     63.140314
                                2     58.887882
MICHOACAN DE OCAMPO             1     66.374612
                                2     63.784311
MORELOS                         1     65.741943
                                2     62.195391
NAYARIT                         1     68.822143
                                2     64.890564
NUEVO LEON                      1     70.168106
                                2     64.823014
OAXACA                          1     60.810332
                                2     57.450557
PUEBLA                          1     61.866875
                                2     58.820175
QUERETARO                       1     66.751233
                                2     60.860793
QUINTANA ROO                    1     65.149528
                                2     63.538000
SAN LUIS POTOSI                 1     62.614907
                                2     58.979163
SINALOA                         1     71.122911
                                2     65.565234
SONORA                          1     70.880406
                                2     67.024857
TABASCO                         1     69.255801
                                2     64.190187
TAMAULIPAS                      1     72.060601
                                2     64.866851
TLAXCALA                        1     64.784437
                                2     60.201164
VERACRUZ DE IGNACIO DE LA LLAVE 1     65.324094
                                2     60.565646
YUCATAN                         1     65.717541
                                2     60.537515
ZACATECAS                       1     66.096483
                                2     62.757788

In [17]:
avBimean['peso'].min()

57.09611111111111

In [18]:
## 3.Cual es el valor minimo del promedio del sexo 2. ?? 57.09611

In [19]:
df=pd.read_csv('datasets/adult.csv',
                 low_memory=False
                )
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,the label
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [21]:
avBiadults = pd.pivot_table(df,
                      index = ['marital-status', "education"],
                      values = ['age'],
                      aggfunc = 'mean',
                     )
avBiadults

                                            age
marital-status         education
 Divorced               10th          44.133333
                        11th          41.230769
                        12th          41.333333
                        1st-4th       62.700000
                        5th-6th       53.700000
                        7th-8th       49.452055
                        9th           46.281250
                        Assoc-acdm    41.064039
                        Assoc-voc     40.653846
                        Bachelors     44.243590
                        Doctorate     49.303030
                        HS-grad       42.363918
                        Masters       47.278970
                        Preschool     36.000000
                        Prof-school   44.127273
                        Some-college  42.327409
 Married-AF-spouse      Assoc-acdm    31.500000
                        Assoc-voc     29.000000
                        Bachelors     30.750000
                        HS-grad       34.615385
                        Some-college  27.333333
 Married-civ-spouse     10th          46.126074
                        11th          42.559322
                        12th          41.892308
                        1st-4th       47.888889
                        5th-6th       45.872093
                        7th-8th       50.601671
                        9th           45.886957
                        Assoc-acdm    40.617391
                        Assoc-voc     40.719884
                        Bachelors     42.648121
                        Doctorate     48.786713
                        HS-grad       42.817131
                        Masters       45.154536
                        Preschool     48.150000
                        Prof-school   46.560680
                        Some-college  42.210433
 Married-spouse-absent  10th          42.000000
                        11th          34.052632
                        12th          38.000000
                        1st-4th       41.416667
                        5th-6th       42.650000
                        7th-8th       49.285714
                        9th           36.666667
                        Assoc-acdm    44.750000
                        Assoc-voc     45.538462
                        Bachelors     41.352941
                        Doctorate     45.571429
                        HS-grad       39.413223
                        Masters       47.941176
                        Preschool     44.750000
                        Prof-school   51.333333
                        Some-college  37.289474
 Never-married          10th          23.961219
                        11th          22.261092
                        12th          23.206897
                        1st-4th       31.717949
                        5th-6th       30.651685
                        7th-8th       34.035398
                        9th           28.225806
                        Assoc-acdm    29.311573
                        Assoc-voc     30.071823
                        Bachelors     30.511978
                        Doctorate     41.739726
                        HS-grad       28.533506
                        Masters       37.821782
                        Preschool     35.409091
                        Prof-school   36.344086
                        Some-college  25.677804
 Separated              10th          39.530612
                        11th          36.937500
                        12th          36.000000
                        1st-4th       49.777778
                        5th-6th       43.722222
                        7th-8th       41.478261
                        9th           43.606061
                        Assoc-acdm    39.633333
                        Assoc-voc     40.738095
                        Bachelors     42.130435
                        Doctorate     42.857143
                        HS-grad       38.266010
                        Masters       44.200000
                        Preschool     48.000000
                        Prof-school   44.000000
                        Some-college  38.086364
 Widowed                10th          59.256410
                        11th          55.973684
                        12th          60.600000
                        1st-4th       62.588235
                        5th-6th       67.785714
                        7th-8th       62.968750
                        9th           62.826087
                        Assoc-acdm    52.130435
                        Assoc-voc     60.829268
                        Bachelors     55.475610
                        Doctorate     65.000000
                        HS-grad       59.405797
                        Masters       58.341463
                        Preschool     58.666667
                        Prof-school   55.600000
                        Some-college  57.523256
 test_category_female   HS-grad       52.000000
 test_category_male     HS-grad       52.000000

In [ ]:
## 4.Cual es el promedio de edad de los divorciados con Hs-grand??   42.363918